
html,body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100vw;
}

canvas {
  width: 90vw;
  height: 70vh;
  justify-content: center;
  display: block;
  margin: auto;
  /*margin-bottom: 10vh;*/
}

h1 {
  width: 100vw;
  height: 5vw;
  display: block;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: xx-large;
  text-align: center;
  padding: 5vh 0vh 0vh 0vh;
}

button {
  z-index: 265;
  width: 20vw;
  height: 5vh;
  display: block;
  border: 0.00em transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: medium;
  color: #000000;
  text-align: center;
  background-color: transparent;
  padding: 0%;
  margin-bottom: 5vh;
  border-radius: 0%;
}
button:focus {
  outline:none;
  box-shadow: none;
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;

}

button.margin-right {
  margin-right: 0px;
}