

/*
body {
  margin: 0;
  padding: 0%;
}
*/

h1 {
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: xx-large;
  text-align: center;
}

button {
  z-index: 265;
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  border: 0.05em transparent;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: xx-large;
  color: #000000;
  text-align: center;
  background-color: transparent;
  /*transition: all 0.2s;*/
  padding: 10%;
  border-radius: 0%;
}

overlay {
  z-index: 265;
  width: 100%;
  height: 100%;
}

.video_wrapper {
  position: relative;
  /*padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
  padding-bottom: 10%;
  }

.three{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

/*
body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/