* {
  margin: 0;
  padding: 0;
  overflow:hidden;
}

html,body{
  height:100%;
  width:100%;  
}

#wrapper{
  height: 100%;
  width: 100%;  
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

#canvasContainer{
  margin:auto;
  border: transparent;
}

/* vh gives edges*/
canvas {
  width: 90vw;
  margin:auto;
  /*margin-bottom: 5vh;*/
  /*background-image: url('./textures/mammoth_placeholder.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 80vh;*/
}

#header{
  /*border: 2pt yellow dotted;*/
  top: 0;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: xx-large;
  text-align: center;
  /*order: red dotted;*/
  padding: 5% 0 0 0;/* add padding*/ 
}

#footer{
  height:10%;
  bottom:0;
  /*border: 2pt red dotted;*/
}

button {
  width: 20vh;
  min-height: 5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: medium;
  color: #000000;
  text-align: center;
  background-color: transparent;
  border: transparent;
  padding: 2% 0 5% 0;/* add padding*/ 
}
button:focus {
  outline:none;
  box-shadow: none;
}

.flex-parent {
  z-index: -1;
  display: flex;
}

.jc-center {
  justify-content: center;
}